@use "./variables" as *;
@use "./mixins" as *;

.wide-button {
    @include WidthHeight (321px, 78px);
    background-color: $primary-color;
    border-radius: 5px;
    margin: 4rem 0 2rem 0;
    font-weight: 700;
}


.smallButton {

    @include WidthHeight (110px, 30px);
    @include flexRowCenterJustify (space-evenly);
    border: none;

    &--primary {
        display: inline;
        border: black solid 1px;
        background-color: $primary-color;
        border-radius: 5px;
        font-weight: 700;
        color: black;
    }

    &--white{
        background-color: white;
        
    }
}