@use "./variables" as *;
@use "./mixins" as *;

body {
    padding: 0.3rem;
    @include flexColumnCenter;
}

.header {
    @include flexRowCenter();
    margin: 2rem 0 5rem 0;

    &__my-name {
        display: inline;
        @include headerSizeWeight(1.5rem,7000)
    }

    &__left-icon {
        @include smallIconSizing ();
        margin-right: 0.3rem
    }

    &__right-icon {
        @include smallIconSizing ();
        margin-left: 7.2rem;
    }
}

.welcome {
    width: 80%;
    @include flexColumnCenter();

    &__message {
        @include smallFontSizeWeightColor(1.3rem,400);
        margin: 0 0 0.5rem -7rem;
    }

    &__job-discription {
        @include headerSizeWeight();
        color: $secondary-color;
    }

    &__work-link {
        @include flexRowCenter();
        text-align: left;
        @include smallFontSizeWeightColor(1.2rem, 700, $secondary-color);

        a {
            text-decoration: none;
            

            img {
                @include smallIconSizing();
                margin: 0.1rem 0 0 1rem
            }
        }
    }
}

.skills {
    @include flexColumnCenter();
    margin: 3rem 0 3rem 0;

    &__header {
        text-align: center;
    }
    &__title {
        @include headerSizeWeight(2rem,600);
        margin-bottom: 4rem;
    }

    &__subtitle {
        display: none;
    }
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 5rem;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__label {
        @include smallFontSizeWeightColor (1rem, 500);
        margin-top: 0.7rem;
    }
}

.projects__title {
        text-align: center;
        margin: 0 2rem 3rem 2rem;
        @include headerSizeWeight (2rem,600)

}

.card{
    width: 24rem;
    border: solid black 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    
    &__img-holder {
        display: flex;
        margin: auto;
        justify-content: center;
        width: 350px;
        padding: 3rem 0.3rem 0 0.3rem;
        background-color: $primary-color;
    }
    &__img {
        @include midSizePhoto();
        border-radius: 5px;
        background-color: white;
    }
    &__content {
        width: 350px;
        margin: auto;
    }
    &__subtitle {
        @include smallFontSizeWeightColor (1rem, 700, $primary-color )
    }
    &__title {
        @include headerSizeWeight(2rem, 600);
        margin-bottom: 1rem;
    }
    &__info {
     @include smallFontSizeWeightColor ();
    }
    &__button {

    }
    // &__icon {

    // }
}