@use "./variables" as *;

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flexRowCenterJustify ($justify: center) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin smallIconSizingWidthHeight ($width:30px, $height:auto) {
    width: $width;
    height: $height;
}

@mixin headerSizeWeight ($size:3.5rem, $weight:600)  {
    font-family: $main-font;
    color: $secondary-color;
    font-size: $size;    
    font-weight: $weight;
        
    }

@mixin smallFontSizeWeightColor ($size:1rem, $weight:400, $color:$faded-grey) {
    color: $color;
    font-weight: $weight;
    font-size: $size;
    font-family: $main-font;
}

@mixin WidthHeight ($width, $height) {
    width : $width;
    height : $height;
}