@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.wide-button {
  width: 321px;
  height: 78px;
  background-color: #E3F6F5;
  border-radius: 5px;
  margin: 4rem 0 2rem 0;
  font-weight: 700;
}

body {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 5rem 0;
}
.header__my-name {
  display: inline;
  font-family: "Inter", sans-serif;
  color: #272643;
  font-size: 1.5rem;
  font-weight: 7000;
}
.header__left-icon {
  width: 30px;
  height: 30px;
  margin-right: 0.3rem;
}
.header__right-icon {
  width: 30px;
  height: 30px;
  margin-left: 7.2rem;
}

.welcome {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome__message {
  color: grey;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0 0 0.5rem -7rem;
}
.welcome__job-discription {
  font-family: "Inter", sans-serif;
  color: #272643;
  font-size: 3.5rem;
  font-weight: 600;
  color: #272643;
}
.welcome__work-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #272643;
  font-weight: 700;
  font-size: 1.2rem;
}
.welcome__work-link a {
  text-decoration: none;
}
.welcome__work-link a img {
  width: 30px;
  height: 30px;
  margin: 0.1rem 0 0 1rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}
.skills__header {
  text-align: center;
}
.skills__title {
  font-family: "Inter", sans-serif;
  color: #272643;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
.skills__subtitle {
  display: none;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 5rem;
}
.icons__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.icons__label {
  color: grey;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.7rem;
}

.projects__title {
  text-align: center;
  margin: 0 2rem 3rem 2rem;
  font-family: "Inter", sans-serif;
  color: #272643;
  font-size: 2rem;
  font-weight: 600;
}

.card {
  width: 24rem;
  border: solid black 2px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}
.card__img-holder {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 350px;
  padding: 3rem 0.3rem 0 0.3rem;
  background-color: #E3F6F5;
}
.card__img {
  width: 325px;
  border-radius: 5px;
  background-color: white;
}
.card__content {
  width: 350px;
  margin: auto;
}
.card__subtitle {
  color: #E3F6F5;
  font-weight: 700;
  font-size: 1rem;
}
.card__title {
  font-family: "Inter", sans-serif;
  color: #272643;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card__info {
  color: grey;
  font-weight: 400;
  font-size: 1rem;
}/*# sourceMappingURL=styles.css.map */